.detailsContainer {
    position: fixed;
    left: 27%;
    right: 27%;
    top: 25%;
    bottom: 25%;
    background-color: #808080;
    border: 2px solid black;    
    border-radius: 8px;
    z-index: 3;
}
.leftContainer {
    width: 50%;
    height: 100%;
    margin: 0;
}
.rightContainer {
    right: 0;
    width: 50%;
    height: 100%;
    margin: 0;
    position: absolute;
}
.detailsImage {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 2px;
    margin: 0;
}
.detailsOpt {
    position: absolute;
    left: 20%;
    bottom: 15px;
    width: 100%;
    z-index: 10;
}
.albumDetailsTitle {
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: 5%;
    padding-top: 30px;
    text-align: left;
    font-size: 2.5rem;
    color: white;
}
.artistDetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.artistList {
    text-align: left;
    margin-top: 8px;
    margin-left: 5%;
    color: #eeeeee;
    font-size: 1.2rem;
}
.albumType {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px 0 15px 5px;
    text-align: center;
    width: 32%;
}
.songList {
    border: none;
    background-color: white;
    width: 95%;
    height: 40%;
    margin: 5px;
    overflow-y: auto;

    scrollbar-color: black;
    scrollbar-width: thin;
}
.addProfileBtn {
    color: black;
    border: 2px solid #ffd700;
    border-radius: 10px;
    cursor: pointer;
}