.detailsContainer {
    position: fixed;
    left: 27%;
    right: 27%;
    top: 25%;
    bottom: 25%;
    background-color: #808080;
    border: 2px solid black;    
    border-radius: 8px;
    z-index: 1;
}
.detailsImage {
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 2px;
    margin: 0;
}
.leftContainer {
    width: 50%;
    height: 100%;
    margin: 0;
}
.albumDetailsTitle {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: left;
    font-size: 2.5rem;
    color: white;
}
.artistList {
    text-align: left;
    margin-left: 5%;
    color: #eeeeee;
    font-size: 1.2rem;
}
.albumType {
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 15px auto;
    text-align: center;
    width: 32%;
}
.songList {
    border: none;
    background-color: white;
    width: 40%;
    height: 50%;
    margin: auto;
    overflow-y: auto;

    scrollbar-color: black;
    scrollbar-width: thin;
}